[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "epade"]
	path = epade
	url = https://github.com/cran/epade
[submodule "etable"]
	path = etable
	url = https://github.com/cran/etable
[submodule "pBrackets"]
	path = pBrackets
	url = https://github.com/cran/pBrackets
[submodule "vtype"]
	path = vtype
	url = https://github.com/cran/vtype
